[Unit]
Description=PiLight
After=network.target

[Service]
User=root
WorkingDirectory=/opt/PiLight
ExecStart=python3 server.py
Restart=always

[Install]
WantedBy=multi-user.target