<html>
<head>
<title>{{WebsiteName}}</title>
<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>PiLight Controller</h1>
<script type=text/javascript>
        $(function() {
          $('a#Green').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Green',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Red').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Red',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Yellow').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Yellow',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Blue').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Blue',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Pink').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Pink',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Teal').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Teal',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Blank').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Blank',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Rainbow').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/colour/Rainbow',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Update').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/system/UpdatePi',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#shutdown').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/system/Shutdown',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(document).ready(function() {
          $('form').on('submit', function(e) {
            e.preventDefault()
            $.ajax({
                data : {
                  Red : $('#Red').val(),
                  Green : $('#Green').val(),
                  Blue : $('#Blue').val()
                      },
                  type : 'POST',
                  url : '/api/colour/CustomColour'
                  })
            });
        });
</script>
<div class="home">
    <h2>Status</h2>
    <p align=center>STATUS</p>
</div>
<div class="home">
    <h2>Standard Colours:</h2>
    <a href=# id=Green><button class="button green">{{GreenLabel}}</button></a>
    <a href=# id=Yellow><button class="button yellow">{{YellowLabel}}</button></a>
    <a href=# id=Red><button class="button red">{{RedLabel}}</button></a>
    <a href=# id=Pink><button class="button pink">{{PinkLabel}}</button></a>
    <a href=# id=Blue><button class="button blue">{{BlueLabel}}</button></a>
    <a href=# id=Teal><button class="button teal">{{TealLabel}}</button></a>
    <a href=# id=Rainbow><button class="button rainbow">{{RainbowLabel}}</button></a>
    <a href=# id=Blank><button class="button blank">{{BlankLabel}}</button></a>
</div>
<!-- <div class="home">
    <h2>Custom Colour:</h2>
    <form action = "/api/colour/CustomColour" method = "POST">
        <p>Red:<input type="number" min="0" max="255" value="0" name="Red" id="Red"/>
        Green:<input type="number" min="0" max="255" value="0" name="Green" id="Green"/>
        Blue:<input type="number" min="0" max="255" value="0" name="Blue" id="Blue"/></p>
        <p><input type = "submit" value = "Set Colour" /></p>
     </form>
</div> -->
<!--<div class="home">
    <h2>Icons:</h2>
</div> -->
<div class="home">
    <h2>Pi Functions:</h2>
    <a href=# id=Update><button class="button">Update & Reboot Pi</button></a>
    <a href=# id=Shutdown><button class="button">Shutdown Pi</button></a>
</div>
</body>
</html>