<html>
<head>
<title>Braden's PiLight</title>
<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<h1>Light Controller</h1>
<div class="home">
<h2>Universal Settings:</h2>
Include: Brightness, Rotation, "Use client settings" basically a toggle to make it take input from the client or from the web page
For the client, could have the API look for a user or source that is passed to it to determine if it should be done or not.
</div>
<div class="home">
<h2>Colours:</h2>
<a class="button green" href="#">Green/Available</a>
<a class="button red" href="#">Red/Busy</a>
<a class="button yellow" href="#">Yellow/Away</a>
<a class="button blue" href="#">Blue/Lunch</a>
<a class="button Pink" href="#">Pink/Loving</a>
<br>
Custom Colours, enter in RGB info
</div>
<div class="home">
<h2>Animations:</h2>
</div>
</body>
</html>