<html>
<head>
<title>Braden's PiLight</title>
<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Light Controller</h1>
<div class="home">
    <h2>Universal Settings:</h2>
    Include: Brightness, Rotation, "Use client settings" basically a toggle to make it take input from the client or from the web page
    For the client, could have the API look for a user or source that is passed to it to determine if it should be done or not.
</div>
<script type=text/javascript>
        $(function() {
          $('a#Green').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/Green',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Red').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/Red',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Yellow').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/Yellow',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Blue').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/Blue',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Pink').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/Pink',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#Teal').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/api/Teal',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<div class="home">
    <h2>Standard Colours:</h2>
    <a href=# id=Green><button class="button green">Green/Available</button></a>
    <a href=# id=Yellow><button class="button yellow">Yellow/Away</button></a>
    <a href=# id=Red><button class="button red">Red/Busy</button></a>
    <a href=# id=Pink><button class="button pink">Pink/Loving</button></a>
    <a href=# id=Blue><button class="button blue">Blue/Lunch</button></a>
    <a href=# id=Teal><button class="button teal">Teal/Chatty</button></a>
</div>
<div class="home">
    <h2>Custom Colours:</h2>
    <p>enter in RGB info</p>
</div>
<div class="home">
    <h2>Animations:</h2>
</div>
<div class="home">
    <h2>Pi Functions:</h2>
</div>
</body>
</html>